# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.WDTGW.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\mazur\WDTGW\.idea\.idea.WDTGW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
